.recent_emoji_container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 100%;
  &:after {
    content: "";
    min-height: 100%;
  }

  &__item {
    font-size: 12px;
    margin: 1px;
    height: 25px;
    width: 25px;
    padding: 3px;
    text-align: center;
    &:hover {
      background: #f0f2f5;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
